crewai[tools]>=0.165.0,<1.0.0
crewai-tools>=0.0.11
fastapi[standard]>=0.116.1
langchain-community>=0.3.27
langchain-openai>=0.2.14
python-dotenv>=1.0.0
yagmail>=0.15.293
gunicorn==21.2.0
uvicorn[standard]>=0.27.0